body{
  background: black;
}
#wrapper{
  background-color: blue;
  width:750px;
  height:800px;
}
#header{
  text-align: center;
  height:100px;
}
#leftbody{
  float: left;
  background-color: grey;
  height:300px;
  width:250px;
}
#rightbody{
  float: left;
  background-color: green;
  height:300px;
  width:500px;
}
#buddy{
    clear:all;
  height:200px;
  background-color: yellow;
}
#bottom{
  height:200px;

background-color: pink;
}
